html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
    overflow: hidden;
    background-color: rgba(0,0,0,0.75);
    color: lightgray;
}

#container {
    justify-content: center;
    padding: 0px 50px;
}

.device {
    margin: 5px;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 5px;
}

.device:hover {
    border-color: lightgreen;
}

.device:active {
    color: lightgreen;
}

.selected {
    color: lightgreen;
    font-weight: bold;
}